</div>
<div class="container-fluid greybg">
	<footer class="row">
		<div class="col-md-4">
			<ul>
				<li><a href="{{ path('isea_app_products')}}">Nos produits</a></li>
				<li><a href="#">Documents utiles</a></li>
				<li><a href="{{ path('isea_app_boutique')}}">Espace boutique</a></li>
				<li><a href="#">Architecte</a></li>
				<li><a href="{{ path('isea_app_articles')}}">Actualités</a></li>
				<li><a href="{{ path('isea_app_contact')}}">Nous contacter</a></li>
			</ul>
		</div>
		<div class="col-md-4"><img src="{{ asset('bundles/iseaapp/img/logo.gif') }}"></div>
	</footer>
</div>