{% extends "iseaAppBundle::Layout/light_layout.html.twig" %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		{% if(article_prev) %}
			<div class="col-xs-1">
				<a href="{{ path('isea_app_article', { 'id': article_prev.id, 'key' : article_prev.getTitre|replace({" " : "-"}) }) }}">
					<img style="height: 70px;" src="{{ asset('bundles/iseaapp/img/arrow-left-empty.png') }}">
				</a>
			</div>
		{% endif %}
		{% if(article_suiv) %}
			<div class="col-xs-1 col-xs-offset-10">
				<a href="{{ path('isea_app_article', { 'id': article_suiv.id, 'key' : article_suiv.getTitre|replace({" " : "-"}) }) }}">
					<img style="height: 70px;" src="{{ asset('bundles/iseaapp/img/arrow-right-empty.png') }}">
				</a>
			</div>
		{% endif %}
	</div>
</div>
<!-- Articles -->
<div class="container-fluid greybg">
	<div class="row">
		<div class="col-xs-1 col-md-offset-1 dateArticle">
			<div class="day">{{ article.getDate|date('d') }}</div>
			<div class="month">{{ article.getDate|localizeddate('full', 'none', "fr", null, 'LLLL') }}</div>
			<div class="year">{{ article.getDate|date('Y') }}</div>
			<hr>
		</div>
		<div class="col-xs-3 col-md-2" style="text-align: right">
			<img src="{{ asset('bundles/iseaapp/img/test.png') }}">
		</div>
		<div class="col-xs-8 col-md-4" style="text-align: left">
			<h2>{{ article.getTitre }}</h2>
			<hr>
			<p>{{ article.getResume }}</p>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-4">
			<p style="text-align: justify;">{{ article.getContenu }}</p>
			<a href="{{ path('isea_app_articles') }}" class="button button-red button-md">Consulter tous les articles</a>
			<a href="{{ path('isea_app_contact') }}" class="button button-red button-md">Nous contacter</a>
		</div>
	</div>
</div>
{% endblock %}