{% extends "iseaAppBundle::Layout/dark_layout.html.twig" %}
{% block body %}
<div class="site-pusher">
	<!-- Intro -->
	<div class="container-fluid firstcontainer intro">
		<span class="row">
			<div class="col-xs-2 col-xs-offset-5"><img src="{{ asset('bundles/iseaapp/img/logo.gif') }}"></div>
			<nav class="col-xs-3 menu">
				<a id="trigger-overlay" href="#">Menu</a>
			</nav>
		</span>
	    <div class="row vertical-align">
	        <div class="col-xs-12 col-md-6 col-md-offset-3 partner-table">
	        	<div class="partner">
	        		<div class="logoTitle">ISEA France</div>
	        		<div class="introPhrase">Le meilleur de la fermeture industrielle</div>
	        	</div>
	        </div>
	    </div>
	    <div class="row">
	    	<div class="introFooter"><img src="{{ asset('bundles/iseaapp/img/bottom.gif') }}"></div>
	    </div>
	</div>
</div>
<!-- Nos produits -->
<div class="container-fluid">
	<div class="row ourproduct">
		<div class="col-xs-12 col-md-4 col-md-offset-4">
			<h2>Nos Produits</h2>
			<p>ISEA France est l’un des leaders français dans la fabrication de fermetures industrielles et commerciales.</p>
			<p>ISEA France, c’est 35 ans d’expérience et 3 sites en France pour une capacité de production de 15 000 portes.</p>
			<p>Nos produits sont commercialisés exclusivement auprès des professionnels de la fermeture.</p>
			<a href="{{ path('isea_app_products')}}" class="button button-lg button-red">Consulter l'ensemble de nos produits</a><br>
			<div id="rapidAccessButton" class="button button-xs button-transparent">Accès rapide</div>
			<span id="rapidAccess">
				<hr/>
				<div class="col-md-3 col-md-offset-1">Catégorie 1</div>
				<div class="col-md-3">Catégorie 2</div>
				<div class="col-md-3">Catégorie 3</div>
			</span>
		</div>
	</div>
</div>
<!-- Catégories -->
<div class="container-fluid">
	<div class="row">
		<div class="row-same-height">
			<div class="col-xs-12 col-md-4 col-md-height">
				<span class="square">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h3>Documents utiles</h3>
							<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis </p>
							<img src="{{ asset('bundles/iseaapp/img/doc.png') }}">
							<a href="#" class="button button-md button-red">Accèder aux documents</a>
						</div>
					</div>
				</span>
			</div>
			<div class="col-xs-12 col-md-4 col-md-height">
				<span class="square">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h3>Espace boutique</h3>
							<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis </p>
							<img src="{{ asset('bundles/iseaapp/img/char.png') }}">
							<a href="{{ path('isea_app_boutique') }}" class="button button-md button-red">Accèder à la boutique</a>
						</div>
					</div>
				</span>
			</div>
			<div class="col-xs-12 col-md-4 col-md-height">
				<span class="square">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h3>Architecte ?</h3>
							<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis </p>
							<img src="{{ asset('bundles/iseaapp/img/archi.png') }}">
							<a href="#" class="button button-md button-red">Espace architecte</a>
						</div>
					</div>
				</span>
			</div>
		</div>
	</div>
</div>
<!-- Actu -->
<div id="carousel-articles" class="carousel slide greybg" data-ride="carousel">
	<div class="row">
		<h4>Dernières actualités</h4>
		{% for article in articles %}
			<span data-target="#carousel-articles" data-slide-to="{{ loop.index - 1 }}" class="{{ (loop.index == 1)? 'active' : '' }} button-xs button-red">{{ loop.index }}</span>
		{% endfor %}
	</div>
	<!-- Indicators (points) -->
	<ol class="carousel-indicators">
		{% for article in articles %}
			<li data-target="#carousel-articles" data-slide-to="{{ loop.index - 1 }}" class="{{ (loop.index == 1)? 'active' : '' }}"></li>
		{% endfor %}
	</ol>

  	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		{% for article in articles %}
		<div class="item {{ (loop.index == 1)? 'active' : '' }}">
			<div class="row">
				<div class="col-xs-4 col-md-5" style="text-align: right">
					<img src="{{ asset('bundles/iseaapp/img/test.png') }}">
				</div>
				<div class="col-xs-8 col-md-4" style="text-align: left">
					<h3>{{article.getTitre }}</h3>
					<hr>
					<p>{{ article.getResume }}</p>
					<a href="{{ path('isea_app_article', { 'id': article.id, 'key' : article.getTitre|replace({" " : "-"}) }) }}" class="button button-red button-md">Consulter l'article</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="row">
		{% for article in articles %}
			{{ (loop.index != 1)? '/ ' : '' }}
			<span data-target="#carousel-articles" data-slide-to="{{ loop.index - 1 }}" class="titreCarousel">{{ article.getTitre }}</span>
		{% endfor %}
	</div>
</div>
{% endblock %}