{% extends "iseaAppBundle::Layout/backoffice_layout.html.twig" %}

{% block body -%}
    <div class="container-fluid">
    <h1>Utilisateur</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="{{ entity.photo }}" width="100"></td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ entity.prenom }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ entity.mail }}</td>
            </tr>
            <tr>
                <th>Fonction</th>
                <td>{{ entity.fonction }}</td>
            </tr>
            <tr>
                <th>Admin</th>
                <td>{{ entity.admin == 1? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a class="button button-red" href="{{ path('user') }}">
            Retour à la liste
        </a>
    </li>
    <li>
        <a href="{{ path('user_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
</div>
{% endblock %}
