<header class="header header-light container-fluid">
	<span class="row">
		<div class="col-xs-4">
			<ul class="nav-tabs">
				<li role="presentation"><a href="{{ path('isea_app_backoffice')}}">Backoffice</a></li>
				<li role="presentation"><a href="{{ path('backoffice_article')}}">Articles</a></li>
				<li role="presentation"><a href="{{ path('user')}}">Utilisateurs</a></li>
				<li role="presentation"><a href="{{ path('backoffice_offre')}}">Offres</a></li>
				<li role="presentation"><a href="{{ path('backoffice_demande')}}">Demandes</a></li>
			</ul>
		</div>
		<div class="col-xs-2 col-xs-offset-1">
			<a href="{{ path('isea_app_homepage')}}"><img src="{{ asset('bundles/iseaapp/img/logo.gif') }}"></a>
		</div>
		<nav class="col-xs-3 menu">
			<a id="trigger-overlay" href="#">Menu</a>
		</nav>
	</span>
</header>