{% extends "iseaAppBundle::Layout/light_layout.html.twig" %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-4">
			<h1 id='scrollTo' class="scrollTo"><span class="cadre">Boutique</span></h1>
		</div>
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<h3>Acheter n'aura jamais procurer autant de plaisir !</h3>
			<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos </p>
		</div>
	</div>
</div>
<!-- Catégories -->
<div class="container-fluid">
	<div class="row">
		<div class="row-same-height">
			<div class="col-xs-12 col-md-4 col-md-height">
				<span class="square">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h4>Ventes privées</h4>
							<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis </p>
							<img src="{{ asset('bundles/iseaapp/img/venteprivee.png') }}">
							<a href="#" class="button button-md button-red">Accèder aux ventes privées</a>
						</div>
					</div>
				</span>
			</div>
			<div class="col-xs-12 col-md-4 col-md-height">
				<span class="square">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h4>Pièces détachées</h4>
							<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis </p>
							<img src="{{ asset('bundles/iseaapp/img/vis.png') }}">
							<a href="#" class="button button-md button-red">Accèder aux pièces détachées</a>
						</div>
					</div>
				</span>
			</div>
			<div class="col-xs-12 col-md-4 col-md-height">
				<span class="square">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h4>Devis</h4>
							<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis </p>
							<img src="{{ asset('bundles/iseaapp/img/archi.png') }}">
							<a href="#" class="button button-md button-red">Accèder au configurateur</a>
						</div>
					</div>
				</span>
			</div>
		</div>
	</div>
</div>
<!-- Osez-vous ? -->
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4 col-md-5" style="text-align: right">
			<img src="{{ asset('bundles/iseaapp/img/test.png') }}">
		</div>
		<div class="col-xs-8 col-md-4" style="text-align: left">
			<h2>Osez-vous ?</h2>
			<h4>faire monter la température</h4>
			<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.  s neque. Suspendisse in orci enim.
	Anibh vulputate cursus a sit amet mauris.  s neque. Suspendisse in orci enim rtborejbrojb.</p>
			<p class="red">Anthony Garzia - Directeur Commercial</p>
			<a href="{{ path('isea_app_fidelite')}}" class="button button-red button-lg">Participer au programme fidélité</a><br>
			<a href="#" data-toggle="modal" data-target="#loginModal">ou accèder à mon compte</a>
		</div>
	</div>
</div>
<!-- Login -->
<form action="{{ path('login_check') }}" method="post">
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
					<div class="login">
						<div class="login__check"></div>
						<div class="login__form">
							<div class="login__row">
								<input type="email" id="username" name="_username" value="{{last_username}}" class="login__input" placeholder="Adresse mail"/>
							</div>
							<div class="login__row">
								<input type="password" id="password" name="_password" class="login__input" placeholder="Mot de passe"/>
							</div>
							<button type="submit" class="login__submit ">Se connecter</button>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
</form>
{% endblock %}