{% extends "iseaAppBundle::Layout/light_layout.html.twig" %}
{% block body %}
<div class="container-fluid nomgtop product" style="background-image: url('{{ asset('bundles/iseaapp/img/products/Isea-Page-produit-1.jpg') }}');">
	<div class="row">
		<div class="col-xs-12 col-md-5 col-lg-3" style="text-align: left; margin-left: 15px;">
			<h1>Rideaux et grilles</h1>
			<p>Phrase de descriptif - Courte - Quelques caractères, deux lignes maximum. Bla, Bla le site d’isea France...</p>
		</div>
	</div>
	<div class="row productCategories" style="text-align: center;">
		<div class="col-md-1" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Rideaux<br>pleins</div>
		<div class="col-md-1" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Grilles à<br>enroulement</div>
		<div class="col-md-1" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Rideaux<br>transparents</div>
		<div class="col-md-1" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Rideaux<br>perforés</div>
		<div class="col-md-1" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Rideaux<br>isolés</div>
	</div>
</div>
<div class="container-fluid collapse productCategorie" id="collapseExample">
	<div class="row">
		<div class="col-xs-12" style="text-align: right;" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
			<img style="cursor: pointer;" src="{{ asset('bundles/iseaapp/img/greycross.png') }}">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<h2>Rideaux pleins</h2>
			<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos </p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-md-2 col-md-offset-3">
			<a href="#" class="button full button-lg button-red">Locksystem</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="#" class="button full button-lg button-red">Surfsystem</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="#" class="button full button-lg button-red">Surfsystem</a>
		</div>
	</div>
</div>


<div class="container-fluid nomgtop product" style="background-image: url('{{ asset('bundles/iseaapp/img/products/Isea-Page-produit-2.jpg') }}');">
	<div class="row">
		<div class="col-xs-12 col-md-5 col-lg-3" style="text-align: left; margin-left: 15px;">
			<h1>Portes sectionelles industrielles</h1>
			<p>Phrase de descriptif - Courte - Quelques caractères, deux lignes maximum. Bla, Bla le site d’isea France...</p>
		</div>
	</div>
	<div class="row productCategories" style="text-align: center;">
		<div class="col-md-1" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">Panoramique</div>
		<div class="col-md-1" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">ISO V.40</div>
	</div>
</div>
<div class="container-fluid collapsed productCategorie" id="collapseExample2">
	<div class="row">
		<div class="col-xs-12" style="text-align: right;" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="true" aria-controls="collapseExample2">
			<img style="cursor: pointer;" src="{{ asset('bundles/iseaapp/img/greycross.png') }}">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<h2>Panoramique</h2>
			<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos </p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-md-2 col-md-offset-3">
			<a href="#" class="button full button-lg button-red">Locksystem</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="#" class="button full button-lg button-red">Surfsystem</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="#" class="button full button-lg button-red">Surfsystem</a>
		</div>
	</div>
</div>


<div class="container-fluid nomgtop product" style="background-image: url('{{ asset('bundles/iseaapp/img/products/Isea-Page-produit-3.jpg') }}');">
	<div class="row">
		<div class="col-xs-12 col-md-5 col-lg-3" style="text-align: left; margin-left: 15px;">
			<h1>Portes résidentielles</h1>
			<p>Phrase de descriptif - Courte - Quelques caractères, deux lignes maximum. Bla, Bla le site d’isea France...</p>
		</div>
	</div>
	<div class="row productCategories" style="text-align: center;">
		<div class="col-md-1" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">DUO 100</div>
		<div class="col-md-1" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">DUO 160</div>
	</div>
</div>
<div class="container-fluid collapse productCategorie" id="collapseExample3">
	<div class="row">
		<div class="col-xs-12" style="text-align: right;" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="true" aria-controls="collapseExample3">
			<img style="cursor: pointer;" src="{{ asset('bundles/iseaapp/img/greycross.png') }}">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<h2>DUO 100</h2>
			<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos </p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-md-2 col-md-offset-3">
			<a href="#" class="button full button-lg button-red">Locksystem</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="#" class="button full button-lg button-red">Surfsystem</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="#" class="button full button-lg button-red">Surfsystem</a>
		</div>
	</div>
</div>


<div class="container-fluid nomgtop product" style="background-image: url('{{ asset('bundles/iseaapp/img/products/Isea-Page-produit-4.jpg') }}');">
	<div class="row">
		<div class="col-xs-12 col-md-5 col-lg-3" style="text-align: left; margin-left: 15px;">
			<h1>Equipement de quai</h1>
			<p>Phrase de descriptif - Courte - Quelques caractères, deux lignes maximum. Bla, Bla le site d’isea France...</p>
		</div>
	</div>
	<div class="row productCategories" style="text-align: center;">
		<div class="col-md-1" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">Plan et<br>spécification</div>
		<div class="col-md-1" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">Buttoir de<br>quai</div>
		<div class="col-md-1" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">Sac et<br>bourrelet</div>
		<div class="col-md-1" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">Niveleur</div>
	</div>
</div>
<div class="container-fluid collapse productCategorie" id="collapseExample4">
	<div class="row">
		<div class="col-xs-12" style="text-align: right;" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="true" aria-controls="collapseExample4">
			<img style="cursor: pointer;" src="{{ asset('bundles/iseaapp/img/greycross.png') }}">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<h2>DUO 100</h2>
			<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos </p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-md-2 col-md-offset-3">
			<a href="#" class="button full button-lg button-red">Locksystem</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="#" class="button full button-lg button-red">Surfsystem</a>
		</div>
		<div class="col-xs-4 col-md-2">
			<a href="#" class="button full button-lg button-red">Surfsystem</a>
		</div>
	</div>
</div>
{% endblock %}